<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/form.css" />
  </head>
  <body>
    <a href="/">
      <button class="btn back-btn">Back</button>
    </a>
    <h1>New Message</h1>
    <form method="post" action="/new" id="form" class="topBefore">
      <%- include("partials/errors.ejs") %>
      <input id="title" name="title" type="text" placeholder="TITLE" required value="<%= typeof title !== 'undefined' ? title : '' %>"/>
      <input
        id="author"
        name="author"
        type="text"
        placeholder="AUTHOR"
        required
        value="<%= typeof author !== 'undefined' ? author : '' %>"
      />
      <textarea
        id="message"
        name="message"
        type="text"
        placeholder="MESSAGE"
        required
      ><%=replyingTo ? `@${replyingTo}` : '' %><%= typeof message !== 'undefined' ? message : '' %></textarea>
      <button type="submit">Send</button>
    </form>
  </body>
</html>