<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <nav>
      <a href="/new">
        <button class="btn new-btn">
          <img src="/plus.svg" alt="" />New message
        </button>
      </a>
      <span><%= title %></span>
      <div class="forms">
        <!-- Search Form -->
        <form method="GET" action="/" id="searchForm">
          <input type="search" name="username" id="username" value="<%= username %>" placeholder="Search by username">
        </form>

        <!-- Sort Form -->
        <form method="GET" action="/" id="sortForm" onchange="this.submit()">
          <input type="hidden" name="username" value="<%= username %>"> <!-- Preserve username in sorting form -->
          <select name="sort" id="sort">
              <option value="all" <%= sort === 'all' ? 'selected' : '' %>>All messages</option>
              <option value="recent" <%= sort === 'recent' ? 'selected' : '' %>>Recent</option>
              <option value="title" <%= sort === 'title' ? 'selected' : '' %>>Title</option>
              <option value="username" <%= sort === 'username' ? 'selected' : '' %>>Name</option>
          </select>
        </form>
      </div>
    </nav>
    <%- include("partials/notFoundUser.ejs") %>
    <div class="messages">
      <% messages.map((message)=>{ %>
      <div class="message-container">
        <img src="/avatar-<%=message.avatar%>.svg" alt="" />
        <div class="message">
          <h2><%=message.title %></h2>
          <div>
            <p>
              message by <%=message.username %> -
              <%=message.created_at.toDateString() %> <%=
              message.created_at.getUTCHours() %>:<% if
              (message.created_at.getUTCMinutes() < 10)
              {%>0<%=message.created_at.getUTCMinutes() %> <%} else {%>
              <%=message.created_at.getUTCMinutes()%> <% } %>
            </p>
            <a href="/message/<%=message.id%>"
              ><button class="btn open-btn">open</button></a
            >
          </div>
          <p><%=message.text %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
