<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/index.css" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <nav>
      <a href="/new">
        <button class="btn new-btn">
          <img src="/plus.svg" alt="" />New message
        </button>
      </a>
      <span><%= title %></span>
      <select name="message-op" id="message-op">
        <option value="all">All messages</option>
        <option value="recent">Recent</option>
      </select>
    </nav>

    <div class="messages">
      <% messages.map((message)=>{ %>
      <div class="message-container">
        <img src="/avatar-<%=message.avatar%>.svg" alt="" />
        <div class="message">
          <h2><%=message.title %></h2>
          <div>
            <p>
              message by <%=message.username %> -
              <%=message.added.toDateString() %> <%= message.added.getUTCHours()
              %>:<% if (message.added.getUTCMinutes() < 10)
              {%>0<%=message.added.getUTCMinutes() %> <%} else {%>
              <%=message.added.getUTCMinutes()%> <% } %>
            </p>
            <a href="/message/<%=message.id%>"
              ><button class="btn open-btn">open</button></a
            >
          </div>
          <p><%=message.text %></p>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
